body {
    
    background-image: url("images/aft.jpg");
  
}
.jumbotron{
    background-image: url("images/tula.png");
    background-size: cover;
    background-repeat: no-repeat;
   }

   .h1{
    color: green;
   }