<div class="card">
    <div class="card-body">
        <img src="../public/images/1.png" class="img-fluid" alt="Responsive image">
        <h1>About</h1>
        <p>Just one page to store your notes</p>

    </div>
</div>