<div class="card">
    <div class="card-body">
        <img src="../images/1.png" class="rounded float-right" alt="...">
        <h1>About</h1>
        <p>Just one page to store your notes</p>

    </div>
</div>