<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes APP node js</h1>
    <p class="lead">Lorem, ipsum dolor sit amet conm, quasi quo.</p>
    <hr class="my-4">
    <a href="https://www.facebook.com/sebastiangodoy.madafakaoficial" class="btn btn-primart">facebook</a>
</div>