<div class="jumbotron mt-4">
    <h1 class="display-4">Notes APP with node js and MongoDB</h1>
    <p class="lead">My app</p>
    <hr class="my-4">
    <p>Social</p>
    <a href="https://www.facebook.com/sebastiangodoy.madafakaoficial" class="btn btn-primary btn-lg">facebook</a>
</div>
<iframe frameborder="0" width="1080" height="720" src="https://www.dailymotion.com/embed/video/x2ytq6a?autoPlay=1" allowfullscreen="" allow="autoplay"></iframe>