<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes APP node js</h1>
    <p class="lead">Lorem, ipsum dolor sit amet conm, quasi quo.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto tenetur, dicta id praesentium numquam consequuntur consectetur velit placeat, molestias impedit, quasi quod quos nesciunt earum porro exercitationem itaque ducimus optio?</p>
    <a href="https://www.facebook.com/sebastiangodoy.madafakaoficial" class="btn btn-primart btn-lg">facebook</a>
</div>