<div class="div-row">
    <div class="col-md-4 mx auto">
        <div class="card">
            <div class="card-header">
                Account register
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>